//COLORS
$color-white: #fff;
$color-black: #000;

$color-primary: #8f193d;
$color-grey: #F7F7F7;

//FONTS
$font-primary: "Poppins"; //"Poppins" ;//'Slabo 27px', serif;
$font-logo: 'Rye', cursive, serif;






